{
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 140,
  "overrides": [
    {
      "files": ["*.ts", "*.mts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
